version: "3.9"

services:
  backend:
    container_name: ai4style-backend
    build:
      context: ./src/backend
      # target: dev
      dockerfile: Dockerfile.dev
    working_dir: /app
    env_file:
      - ./src/backend/.env
    ports:
      - "3001:3001"
    command: sh -c "npm install && npm run start:dev"
    volumes:
      - ./src/backend:/app
      - /app/node_modules
    networks:
      - ai4style

  frontend:
    container_name: ai4style-frontend
    build:
      context: ./src/frontend
      target: dev
    working_dir: /app
    command: npm run dev -- -p 3000
    environment:
      - NODE_ENV=development
      # change localhost to expose URL for browser access
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
      - NEXT_TELEMETRY_DISABLED=1
    ports:
      - "3000:3000"
    volumes:
      - ./src/frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - ai4style

networks:
  ai4style:
    driver: bridge
